{% extends "chat/base.html" %}
{% block chatbox %}

<div ws-receive></div>
<div class="max-w-md mx-auto mt-10 bg-white shadow-lg rounded-xl flex flex-col h-[500px]">
    
    <div class="bg-blue-600 text-white px-4 py-3 rounded-t-xl flex justify-between items-center">
    {% if chat_group.is_private %}
      {% if other_user %}
      <div id="online-icon"></div>
      {% for p in profile %}
      <div class="flex flex-col items-center mx-auto">
        <img 
        src="{{  p.image.url }}" 
        alt="Profile Image" 
        class="w-10 h-10 mr-3 -mt-1 rounded-full object-cover border-4 border-blue-500 shadow-lg"
      />
      {% endfor %}
      {% for otherUser in other_user %}
      <div class="text-lg font-semibold  ml-20 -mt-9">@{{ otherUser.username }}</div>
      </div>
      {% endfor %}
{% endif %}
      {% else %}
      <h2 class="text-lg font-semibold">{{ chat_room_name }}</h2>
      <div id="online-icon"></div>
      <span id="online-count" class="text-sm font-light"></span>
      {% endif %}
    </div>
  
    <!-- Chat Messages -->
    <div id="chat-messages" class="flex-1 overflow-y-auto p-4 space-y-2 bg-gray-50">
      
      {% for message in chat_messages %}
      {% include 'chat/chat_message.html'%}
      {% endfor %}
    </div>
  
    
    <form  class="px-4 py-3 border-t border-gray-200 flex gap-2"
    hx-ext="ws"
    ws-connect="/ws/chat/{{ chat_room_name }}/"
    ws-send
    _="on htmx:wsAfterSend reset() me">
       {% csrf_token %}
       <input 
        type="text" 
        name="message" 
        placeholder="Type your message..." 
        class="flex-1 px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
       <button 
        type="submit" 
        class="bg-blue-600 text-white px-4 py-2 rounded-full hover:bg-blue-700 transition"
      >
        Send
      </button>
    </form>
  </div>
  {% endblock %}

  {% block script %}
  <script>
  
      function scrollToBottom() {
        const chatMessages = document.getElementById("chat-messages");
        if (chatMessages) {
          chatMessages.scrollTop = chatMessages.scrollHeight;
        }
      }
  
      scrollToBottom();
    
      document.addEventListener('htmx:oobAfterSwap', function(evt) {
        if (evt.detail.target.id === "chat-messages") {
          scrollToBottom();
        }
        
      });
  
  </script>
  
  {% endblock %}